.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 13px 0;
}

.langItem {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: black;
}
