.pageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoWrapper {
  position: relative;
  width: 100%;
  max-width: 250px;
  aspect-ratio: 232/55;
  margin: 0 auto;
  object-fit: contain;
}

.logo_sub {
  font-style: normal;
  font-weight: 300;
  font-size: 8.96px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 1.5em;
  padding: 13px 0 0 6px;
}

.coverImage {
  height: calc(100vh - 303px);
  min-height: 350px;
  max-height: 600px;
  background: url('/images/Ekaterina.png') top center no-repeat;
  background-size: cover;
}

.titleContainer {
  display: block;
  align-self: flex-end;
  margin-top: auto;
  background-color: black;
  padding: 31px 0;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 47px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding: 0;
}

.subTitle {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: white;
  padding: 5px 0 0;
  margin: 0;
}

.section_schedule {
  padding: 37px 10px 44px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.day__wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.day__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
}

.day__event {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.event__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
}

.event__time {
  font-weight: 300;
}

.event__title {
  font-weight: 500;
}

.event__level {
  font-weight: 200;
}

.event__price {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0 0;
}

.price__content {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #000;
}

.price__value {
  font-weight: 600;
}
