.pageContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: none;
}

.subTitle {
  display: none;
}

@media screen and (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;
  }

  .coverContainer {
    grid-column: 2/-1;
  }

  .contentContainer {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 135px 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    max-height: 1080px;
  }

  .title {
    display: block;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
  }

  .subTitle {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: black;
    padding: 5px 0 0;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 80px;
    line-height: 80px;
    max-width: 700px;
  }

  .subTitle {
    font-size: 24px;
    line-height: 26px;
    padding: 15px 0 0;
    margin: 0;
  }
  .contentContainer {
    padding: 155px 10px 0;
  }
}
